<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventHandling">

        <!-- Task 1 Activity (used for testing via Run Configuration) -->
        <activity
            android:name=".TehtYks"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EventHandling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Task 2 Activity (used for testing via Run Configuration) -->
        <activity
            android:name=".TehtKaks"
            android:exported="true" />

        <!-- Task 3 Activity (used for testing via Run Configuration) -->
        <activity
            android:name=".TehtKol"
            android:exported="true" />

        <!-- Task 4 Activity (used for testing via Run Configuration) -->
        <activity
            android:name=".TehtNel"
            android:exported="true" />

        <!-- Task 5 Activity (used for testing via Run Configuration) -->
        <activity
            android:name=".TehtViis"
            android:exported="true" />

        <!-- Task 6 Activity (used for testing via Run Configuration) -->
        <activity
            android:name=".TehtKuus"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>